
.PlayersListWrapper {
  max-width: 54%;
  position: relative;
}
.HistoryButton {
  height: 20px;
  position: absolute;
  top: -20px;
  left: calc(50% - 60px);
  background: white;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
}
.PlayersList {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  background: #0000007d;
  justify-content: center;
}
.PlayersList .PlayerItem {
  max-width: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.PlayersList .PlayerItem img {
  width: 100%;
}

.PlayersList .PlayerItem:hover {
  background-color: #e3c51929;
  cursor: pointer;
}

.player-1-active {
  background: #0000ff40;
}

.player-2-active {
  background: #ff000036;
}

.player-1-active.player-2-active {
  background: linear-gradient(to right, #0000ff40 50%, #ff000036 50%);
}

@media only screen and (max-width: 800px) {
  .PlayersList {
    background: url('../assets/bckgrnd.png');

  }
  .PlayersListWrapper {
    z-index: 1;
    max-width: 100%;
  }
}
